{%extends 'base.html'%}{% load static %} {%block title%}Bug Binder |
Bug Issue{%endblock%} {%block css%}

<link rel="stylesheet" href="{% static 'css/bug-issue.css'%}" />
{%endblock%}

<!--  -->
{%block body%}
<div class="container-div">
  <div class="box">
    <h5>Bug Issue</h5>
    <div class="box-body">
      <div class="row">
        <div class="col s12 m12 l12">
          <select id="select" autocomplete="off">
            <option value="" disabled selected>Select Project</option>
            {%for project in projects%}
          <option value="{{project.id}}">{{project.title}}</option>
  {%endfor%}
        </select></div>
      </div>
    </div>
  </div>
  <div class="box bug">
    <h5>Report a bug</h5>
    <div class="box-body fields">
    
      <div class="row">
        <div class="col s12 l12">
          <div class="input-field">
            <i class="material-icons prefix white-text">font_download</i>
            <input id="title" type="text" class="validate white-text" autocomplete="off"/>
            <label for="title" class="white-text">Title</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix white-text">donut_large</i>
          <textarea id="reproduce" class="materialize-textarea" autocomplete="off"></textarea>
          <label for="reproduce" class="white-text">Steps to reproduce</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix white-text">desktop_mac</i>
          <textarea id="environment" class="materialize-textarea" autocomplete="off"></textarea>
          <label for="environment" class="white-text">Environment</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix white-text">insert_comment</i>
          <textarea id="comment" class="materialize-textarea" autocomplete="off"></textarea>
          <label for="comment" class="white-text">Comment</label>
        </div>
      </div>
      
      <div class="row">
        <div style="display: flex; justify-content: flex-end">
         
          <a class="waves-effect pulse waves-light btn orange" id="submit">Submit</a>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
{%block script%}
<script src="{%static 'js/bug.js'%}"></script>
{%endblock%}